<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>Runtime Properties for blancoRest</comment>
    <entry key="ApiUrl">http://10.211.55.4/dapanda/</entry>
    <entry key="AuthId"></entry>
    <entry key="AuthPass"></entry>
    <entry key="UserAgent">CarecoAPI test client</entry>
    <entry key="SocketTimeout">3</entry>
    <entry key="ConnectionTimeout">3</entry>
    <entry key="Loglevel">LOG_DEBUG</entry>
    <entry key="DefaultPackage">blanco.rest</entry>
</properties>